.pikatime-container {
   width: 250px;
   position: absolute;
   z-index: 1001;
   box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);
   border-radius: 3px;
   background-color: black;
}

.pikatime-container::before {
   content: "";
   position: absolute;
   left: -1em;
   top: 50%;
   transform: translateY(-50%);

   border: solid .5em transparent;
   border-right-color: black;
}

.pikatime-container canvas {
   display: block;

   -webkit-border-top-left-radius: 3px;
   -webkit-border-top-right-radius: 3px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-topright: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.pikatime-container button {
   border: none;
   color: white;
   padding: .6em .6em .75em;
   width: 50%;
   background-color: black;
}

.pikatime-container div {
   overflow: hidden;
   border-top: 1px solid #333;

   -webkit-border-bottom-right-radius: 3px;
   -webkit-border-bottom-left-radius: 3px;
   -moz-border-radius-bottomright: 3px;
   -moz-border-radius-bottomleft: 3px;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
}

.pikatime-container div button:first-of-type {
   border-right: 1px solid #333;
}

.pikatime-container button:hover {
   background-color: #8dae28;
   cursor: pointer;
}
