.pikatime-container {
   width: 250px;
   position: absolute;
   z-index: 100;
}
.pikatime-container::before {
   content: "";
   position: absolute;
   right: 100%;
   top: calc(50% - 20px);

   border: solid 20px transparent;
   border-right-color: black;
}

.pikatime-container canvas {
   display: block;
}

.pikatime-container button {
   border: none;
   background-color: black;
   color: white;
   padding: 1em;
   width: 50%;
}

.pikatime-container button:hover {
   background-color: #8dae28;
   cursor: pointer;
}